/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol{
    margin:0;
    padding:0;
    list-style:none;
    border:none;
}

/* End Reset */

body{
    font-size:0.8em;
    font-family:Arial,Verdana,Sans-Serif;
    background: #FFF;
}
a{
    color:white;
}

/* Colors */
.color-yellow{
    background:#f2bc00;
}
.color-red{
    background:#dd0000;
}
.color-blue{
    background:#148ea4;
}
.color-white{
    background:#dfdfdf;
}
.color-orange{
    background:#f66e00;
}
.color-green{
    background:#8dc100;
}
.color-yellow h3,
.color-white h3,
.color-green h3{
    color:#000;
}
.color-red h3,
.color-blue h3,
.color-orange h3{
    color:#FFF;
}

/* End Colors */

/* Columns section */
#columns .column{
    border: 0px;
    border-right: 1px solid #000;
    float: left;
    width: 33%;
    min-width: 300px;
    /* Min-height: */
    min-height: 500px;
    height: 500px;
    overflow-y: scroll;
}

#columns .widget{
    margin: 30px 20px 0 20px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#columns .widget .widget-head{
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#columns .widget .widget-head h3{
    padding: 0 5px;
    float: left;
}
#columns .widget .widget-content{
    background: #333;
    padding: 0 5px;
    color: #DDD;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
#columns .widget .widget-content p{
    padding: 0.8em 0;
    border-bottom: 1px solid #666;
}
#columns .widget .widget-content img{
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
#columns .widget .widget-content pre{
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul{
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns .widget .widget-content ul li{
    padding: 3px 0;
}
#columns .widget .widget-content ul.images{
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li{
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img{
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}

/* End Columns section */
