

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:ng="http://angularjs.org" ng-app="swimTasksAng" id="ng-app" ng-controller="DragDropCtrl">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project SwimTasks!</title>
        <style>
/* Hide Angular JS elements before initializing */
.ng-cloak {
    display: none;
}
</style>
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="columns" class='ng-cloak'>
        <ul  class="column" ng-repeat="(column_name, column) in items | orderObjectBy:'num':false">
            <li class='header'>{{column.title}}</li>
            <li class="widget color-white" ng-repeat="(task_id, task) in column.tasks | orderObjectBy:'order_num':true">
                <div class="widget-head">
                    <h3>{{task.title}}-{{task.order_num}}</h3>
                </div>
                <div class="widget-content">
                    {{task.desc}}
                </div>
            </li>

        </ul>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
